extends template

block menu
	+createMenu(0)

block content
	.main-block 
		.content 
			.text1 
				p. 
					CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) 
					— формальный язык описания внешнего вида документа, написанного 
					с использованием языка разметки.
			.text2
				p. 
					Основным понятием CSS является стиль – т. е. набор правил оформления 
					и форматирования, который может быть  применен к различным элементам 
					страницы. Для присвоения какому-либо элементу определенных 
					характеристик необходимо  один раз описать этот элемент и 
					определить это описание как стиль, а в дальнейшем просто указывать, 
					что элемент получить свойства выбранного стиля.
			.image
				img(src='img/1.jpg')

		.video 
			<iframe src="https://www.youtube.com/embed/u1b1s2Wj24s" title="Что такое CSS-препроцессор и постпроцессор?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


