extends template

block menu
	+createMenu(2)

block content
	.main-block 
		.content3
			.img1 
				img(src='img/1.jpg')
			.img2
				img(src='img/2.jpg')
			.img3 
				img(src='img/html.jpg')
			.img4 
				img(src='img/1.jpg')
			.img5 
				img(src='img/1.jpg')
			.img6 
				img(src='img/html.jpg')
			.img7 
				img(src='img/1.jpg')
